[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pydantic = "*"
scipy = "*"
tensorflow = "*"
soundfile = "*"
torch = "*"
transformers = "==4.42.4"
openai = "*"
accelerate = "*"

[dev-packages]
ipykernel = "*"
tensorflow-macos = "*"
tensorflow-metal = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.14"
